@import "tailwindcss";

@theme base {

    /* Colors*/
    --accent-main: 25, 100%, 94%;
    --accent-secondary: 26, 100%, 55%;

    --color-main-100: hsl(25, 100%, 94%);
    --color-secondary-800: hsl(26, 100%, 55%);
    --color-blur: hsl(0, 0%, 0%, 0.75);

    --color-neutral-900: hsl(0, 0%, 0%);
    --color-neutral-700: hsl(220, 13%, 13%);
    --color-neutral-600: hsl(219, 9%, 45%);
    --color-neutral-500: hsl(220, 14%, 75%);
    --color-neutral-200: hsl(223, 64%, 98%);
    --color-neutral-100: hsl(0, 0%, 100%);

    /*Typography*/

    --text-normal: 1rem;

    /*Font*/
    --font-default: "Kumbh Sans";
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /*  Responsive width  */
    --breakpoint-mobile: 600px;
    --breakpoint-desktop: 975px;

    /*  spacing  */
    --spacing-mobile: 600px;
    --spacing-desktop: 975px;
}
@layer base {
    /***************** CSS Reset***********************************************/
    /* 1. Use a more-intuitive box-sizing model */
    *, *::before, *::after {
        box-sizing: border-box;
    }

    /* 2. Remove default margin */
    * {
        margin: 0;
    }

    /* 3. Enable keyword animations */
    @media (prefers-reduced-motion: no-preference) {
        /*don't work*/
        /*html {*/
        /*    interpolate-size: allow-keywords;*/
        /*}*/
    }

    body {
        /* 4. Add accessible line-height */
        line-height: 1.5;
        /* 5. Improve text rendering */
        -webkit-font-smoothing: antialiased;
    }

    /* 6. Improve media defaults */
    img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
    }

    /* 7. Inherit fonts for form controls */
    input, button, textarea, select {
        font: inherit;
    }

    /* 8. Avoid text overflows */
    p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
    }

    /* 9. Improve line wrapping */
    p {
        text-wrap: pretty;
    }
    h2, h3, h4, h5, h6 {
        text-wrap: balance;
    }

    /*
      10. Create a root stacking context
    */
    #root, #__next {
        isolation: isolate;
    }

    /*reset clickable elements*/
    #menu-hamburger,
    #menu-close,
    #cart,
    #cart + img,
    #minus,
    #plus,
    #delete,
    .img-container__element,
    .navbar li,
    .switch-arrow,
    .button {
        cursor: pointer;
        outline: none;
    }

    /**********************************************************************************/



    /*******************GENERAL STYLING*********************************************/
    body {
        font-family: var(--font-default), sans-serif;
        font-weight: var(--font-weight-regular);
        font-size: var(--text-normal);
        color: var(--color-neutral-600);
        min-height: 100vh;
        margin-bottom: 2.5rem;
        @apply min-desktop:grid grid-rows-[min-content] gap-20;
    }

    header,  main {
        width: min(100%, var(--spacing-desktop));
        justify-self: center;
        align-self: start;
    }
    /**********************************************************************************/


    /***********************CUSTOMS STYLES***************************************************************/

    /*For accessibility informations that are visually hidden*/
    .not-visible {
        position: absolute;
        left: -9999px;
        opacity: 0;
    }

    /****Navigation menu*/
    .navbar {
        /*mobile style*/
        @media (max-width: 600px) {
            min-width: 70%;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            padding: 1.5rem;
            z-index: 10;

            /*transition to make the menu appearing smoothly*/
            margin-left: -100%;
            transition: all 500ms ease;
            /*************************************************/

            font-size: calc(var(--text-normal) + 0.25rem);
            color: var(--color-neutral-800);
            font-weight: var(--font-weight-bold);
            background-color: var(--color-neutral-100);
        }

        /*Desktop style*/
        @media (min-width: 600px) {
            &, ul, li {
                min-height: 100%;
            }
            li {
                transition: all ease 400ms;
                @apply inline-flex items-center min-desktop:px-4 border-b-3 border-b-transparent;
                &:is(:hover, :active, :focus) {
                    border-bottom-color: var(--color-secondary-800);
                }
            }
        }
    }

    /* custom class to make appear the mobile menu smoothly*/
    .on-screen { margin-left: 0; }

    /*bubble that appear to show the count of articles added to the cart */
    .bubble {
        font-size: calc(var(--text-normal) - 0.5rem);
        position: absolute;
        top: 0;
        right: -5px;
        display: inline-grid;
        place-content: center;
        width: 15px; height: 10px;
        color: var(--color-neutral-100);
        font-weight: var(--font-weight-bold);
        border-radius: 1rem;
        background-color: var(--color-secondary-800);
    }

    /****modal for the cart ***/
    .modal-box {
        /*position for mobile and desktop*/
        position: absolute;
        right: 2.5%;
        @media (max-width: 975px) {  top: calc(100% + 0.5rem);  }
        @media (min-width: 975px) {  top: calc(100% - 0.5rem);  }

        box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
        background-color: var(--color-neutral-100);
        min-height: 15rem;
        width: min(95%, 23rem);
        border-radius: 0.5rem;
        z-index: 4;

        /*custom style for the modal content (article purchased, price, trash icon,..)*/
        article { @apply flex justify-between items-center gap-3;
            div { @apply flex flex-col;
                span { @apply text-neutral-900 font-bold; } }
            .thumbnail { @apply max-w-15 rounded-md; } }
    }

    /*images container*/
    .img-container {

        /*for the mobile scroll effect*/
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        img { scroll-snap-align: start; }

        /*desktop grid layout*/
        @media (min-width: 975px) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1.5rem;
            img { border-radius: 1rem; }
        }

        /*to hide the scrollbar*/
        &::-webkit-scrollbar { display: none; }
    }
    /*scroll arrow icon styling*/
    .switch-arrow { @apply absolute w-[40px] h-[40px] top-1/2 -translate-y-1/2 bg-neutral-100 rounded-full flex items-center justify-center;
        /*for the hover or focus state (color) of the arrow icon*/
        &:is(:hover, :active) path {
            stroke: var(--color-secondary-800);}
    }

    /*for desktop light box images container and normal images container */
    @media (min-width: 975px) {
        .img-container__element, .aside-image {
            transition: all ease 400ms;
            @apply border-3 border-transparent hover:opacity-75;
        }
        /*custom style handled with javascript when the mini-image is clicked*/
        .is-active, .img-container__element:focus {
            border-color: var(--color-secondary-800);
            opacity: 75%;
        }
    }

    /**main button style**/
    .button {
        transition: all ease 400ms;
        @apply inline-flex gap-4 justify-center items-center p-4 bg-secondary-800 rounded-[0.625rem] border-2 border-transparent font-bold text-neutral-700;
        &:is(:hover, :focus) {
            border-color: var(--color-secondary-800);
            background-color: hsl(var(--accent-secondary), 0.75);
        }
    }
    /*cart icon styling for the "Add to cart" button*/
    .cart::before {
        content: "";
        width: 20px; height: 20px;
        background: url("/images/icon-cart.svg") center no-repeat;
        background-size: contain;
    }

    /* blur background style*/
    .blur-background {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: var(--color-blur);
        z-index: 5;
    }
}